<!DOCTYPE html>
<html lang="en" style="background: #111; color: #f2f2f2; width: 100%;">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{ block "title" . }}
    {{ or .Params.title .Title .Site.Title }}
  {{ end }}</title>
  <script>window.DEFAULT_TITLE="{{ .Site.Title }}";</script>
  <link rel="stylesheet" href="/styles.css">
</head>
<body style="font-family: serif; font-size: 16px; margin: 0;">
  <div class="container header">
    <div class="brand-name"><a href="{{ .Site.BaseURL }}">{{ .Site.Title }}</a></div>
  </div>
  <div id="main">
    <div id="init-params" data-value="{{ .Params | jsonify }}"></div>
    {{ block "main" . }}
    {{ end }}
  </div>
  <br>
  <hr>
  <pre id="debug">
    <pre data-type="json">
      {{ jsonify . }}
    </pre>
  </pre>
  <script src="/js/fetch.js"></script>
  <script src="/js/render.js"></script>
  <script src="/js/spa.js"></script>
  <script>
  Array
  .from(document.querySelectorAll("pre[data-type=json]"))
  .forEach(function (pre) {
    pre.textContent = JSON.stringify(JSON.parse(pre.textContent), null, 2)
  })
  </script>
</body>
</html>
